@page
@model SampleProject.Pages.Historical_PageModel
@{
}

<head>
<h1>Historical Data</h1>
</head>


<br/>

<body>

<h2>Find Historical Data</h2>


<button onclick='generateWData()'>Generate Weather Data</button>

<br/>

</body>

<scrpit>
	funtion generateWData(){
	
	

	}
</scrpit>




