@page
@model SampleProject.Pages.Historical_PageModel
@{
}



<head>
<h1 align="Center">Historical Data</h1>

	<style>
		body{
			background-image: url("https://c8.alamy.com/comp/G3F497/canada-maritime-provinces-old-fashioned-farm-new-brunswick-old-print-G3F497.jpg");
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
        }
	</style> 

</head>


<br/>

<body>

<h2>Find Historical Data</h2>


<button onclick="generateWData()">Generate Weather Data</button>

<br/>
<img id="chartImage" src="" width="500px" alt="Weather Data Output" />

<br/>

<scrpit>
	funtion generateWData() {
	fetch(“https://www.visualcrossing.com/weather-api”)
	.then((response) => response.json())
	.then((data) => {
		const chartImage = document.getElementByID("chartImage");
		chartImage.src = data[0];
	}
	.catch((error) => console.error(error));
	}
</scrpit>
</body>



