@page
@model SampleProject.Pages.Historical_PageModel
@{
}
<h1>Historical Data</h1>

<br/>

<h2>Find Historical Data</h2>



<button onclick='generateWData()'>Generate Weather Data</button>

<br/>



<scrpit>
	funtion generateWData(){
	Fetch('http://api.weatherapi.com/v1/current.json?key=d9da555a2ab14f0aa6d161907241809&q=new york&aqi=yes')
		.them((response) => response.json())
		.them((data) => console.img(data);
	}
</scrpit>




