@page
@model SampleProject.Pages.SeasonalDataModel
@{
    
    <div class="header">
        <h1><b>Seasonal Data</b></h1>
    </div>

    <style>
    .header{
        color: black
    }
    </style>

    <body
        
          background="https://wallpaperaccess.com/full/1659982.jpg"
          style="background-repeat: no-repeat;">
        
        </body>



}
