@page
@model SampleProject.Pages.SeasonalDataModel
@{
    
    <div class="header">
        <h1><b>Seasonal Data</b></h1>
    </div>

    <style>
    .header{
        color: black
    }
    h1, h3 {
        text-align: center;
    }

    table{
        border-collapse: collapse;
        width:100%
    }

    th, td {
        border: 1px solid;
        padding: 10px;
        text-align: center;
    }
    </style>

    <body
        
          background="https://wallpaperaccess.com/full/1659982.jpg"
          style="background-repeat: no-repeat;">
          <h3>Midwest</h3>
          <table>
          <tr>
            <th>Season</th>
            <th>Avg Regional Temp</th>
            <th>Suggested Crops</th>
          </tr>
          <tr>
            <td>Winter</td>
            <td>15 F</td>
            <td>Leafy greens, Broccoli, Cauliflower, Beets, Carrots </td>
          </tr>
          </table>
        <h3>West</h3>
        <table>
            <tr>
                <th>Season</th>
                <th>Avg Regional Temp</th>
                <th>Suggested Crops</th>
            </tr>
            <tr>
                <td>Summer</td>
                <td>75-79 F</td>
                <td>Cucumbers, Peppers, Watermelons, Carrots, Corn, Muskmelons</td>
            </tr>
        </table>
        </body>



}
