@page
@model SampleProject.Pages.SeasonalDataModel
@{
    
    <div class="header">
    <h1>Seasonal Data</h1>
    </div>


    <body
          background="https://wallpaperaccess.com/full/1659982.jpg"
          style="background-repeat: no-repeat;">

         
        </body>



}
